{% extends 'layout.html.twig' %}

{% block content%}
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">User List</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>User List</h1>
                    <!-- Example DataTables Card-->
                    <div class="card mb-3">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }} </td>
                                            <td>
                                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-success">
                                                    <i class="fa fa-fw fa-edit"></i>
                                                </a>
                                                <button data-id="{{ user.id }}" data-href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal">
                                                    <i class="fa fa-fw fa-trash"></i>
                                                </button>

                                            </td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>


        <!-- Confirmation delete Modal-->

        <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Confirmation</h5>

                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete the user?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                        <form action="#" method="post">
                            <input hidden name="_method" value="DELETE">
                            <button type="submit" class="btn btn-primary" href="">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}


